<div class="row d-flex justify-content-center">
  <div class="col-md-8 border border-light row d-flex justify-content-center">
    <form class="p-5 text-center" [formGroup]="resetForm" (ngSubmit)="onFormSubmit(resetForm.value)">
      <p class="h4 mb-4">Resetuj hasło</p>
      <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">
      <p style="color:red" *ngIf="error">Nieznany adres email</p>
      <button class="btn btn-info btn-block my-4" type="submit">Wyślij</button>
    </form>
  </div>
</div>
